// @use "sass:color";

// @import "fonts";
// @import "variables";
// @import "mixins";

body {
  margin: 0;
  padding: 0;
  // background-color: blue;
  /* overflow: visible; */
}

.pointer {
  cursor: pointer;
}
